body {
    margin: 0;
    background: url(http://i.imgur.com/eCx6Wov.jpg);
    font-size: 9px;
    font-family: sans-serif;
    text-align: center;
}

.rules {
    position: absolute;
    left: 2em;
    text-align: left;
    font-size: 1.5em;
}
.table {
    margin: 0 auto;
    width: 73em;
    float: right;
    clear: both;
}
.table .burnt,
.table .discard,
.table .deck {
    float: left;
}
.table .burnt {
    margin-right: 12em;
}

.new-game {
    background: #C7254E;
    color: #fff;
    border: 0;
    border-radius: 1em;
    box-shadow: 1px 1px 5px #000;
    text-shadow: 1px 1px 5px #000;
}

.card {
    display: block;
    width: 16em;
    height: 25em;
    background: #fff;
    border-radius: 1em;
    box-shadow: .1em .1em .5em rgba(0,0,0,.4);
    padding: 1em;
    box-sizing: border-box;
    font-family: sans-serif;
}
.card {
    transition: .1s ease-in-out;
    position: relative;
    background: #fff url(http://i.imgur.com/yxdMjPo.png) no-repeat 1em 1em;
    background-size: 14em 23em;
}
.card:hover {
    z-index: 1;
    margin: -1em 0 0 1em;
}
.card.chosen {
    z-index: 1;
    margin: -1em 0 0 1em;
    box-shadow: .1em .1em 3em rgba(255,192,0,1);
}
.burnt .card:hover,
.discard .card:hover,
.down .card:hover,
.card.face-down:hover {
    z-index: 0;
    margin: 0;
}
.discard::before,
.deck::before,
.burnt::before {
    font-size: 2em;
    width: 100%;
    display: block;
    border: 1px solid rgba(0,0,0,.2);
    width: 8em;
    height: 12.5em;
    border-radius: 1em;
    box-sizing: border-box;
    padding-top: 5.5em;
}
.discard::before {
    content: 'Discard pile';
}
.deck::before {
    content: 'Draw pile';
}
.burnt::before {
    content: 'Burnt';
}

.card[data-card-id="2C"] { background-image: url(http://i.imgur.com/Hfq7acq.png); }
.card[data-card-id="2D"] { background-image: url(http://i.imgur.com/fuib8Xj.png); }
.card[data-card-id="2H"] { background-image: url(http://i.imgur.com/KrakuaD.png); }
.card[data-card-id="2S"] { background-image: url(http://i.imgur.com/WwUEKPo.png); }
.card[data-card-id="3C"] { background-image: url(http://i.imgur.com/es9xNRz.png); }
.card[data-card-id="3D"] { background-image: url(http://i.imgur.com/DA2eWCn.png); }
.card[data-card-id="3H"] { background-image: url(http://i.imgur.com/Y1QqTuB.png); }
.card[data-card-id="3S"] { background-image: url(http://i.imgur.com/e3HLDOr.png); }
.card[data-card-id="4C"] { background-image: url(http://i.imgur.com/TC0UShC.png); }
.card[data-card-id="4D"] { background-image: url(http://i.imgur.com/nBuIFi7.png); }
.card[data-card-id="4H"] { background-image: url(http://i.imgur.com/8vgOw9u.png); }
.card[data-card-id="4S"] { background-image: url(http://i.imgur.com/FoszVAp.png); }
.card[data-card-id="5C"] { background-image: url(http://i.imgur.com/nifHINw.png); }
.card[data-card-id="5D"] { background-image: url(http://i.imgur.com/fwDCurP.png); }
.card[data-card-id="5H"] { background-image: url(http://i.imgur.com/LP3we9y.png); }
.card[data-card-id="5S"] { background-image: url(http://i.imgur.com/7oQLO2T.png); }
.card[data-card-id="6C"] { background-image: url(http://i.imgur.com/VENlE5D.png); }
.card[data-card-id="6D"] { background-image: url(http://i.imgur.com/2PK6JQ4.png); }
.card[data-card-id="6H"] { background-image: url(http://i.imgur.com/9imLIbx.png); }
.card[data-card-id="6S"] { background-image: url(http://i.imgur.com/hUedXuB.png); }
.card[data-card-id="7C"] { background-image: url(http://i.imgur.com/lVgAq5X.png); }
.card[data-card-id="7D"] { background-image: url(http://i.imgur.com/79A4Trj.png); }
.card[data-card-id="7H"] { background-image: url(http://i.imgur.com/Ige0nfR.png); }
.card[data-card-id="7S"] { background-image: url(http://i.imgur.com/BIaPru6.png); }
.card[data-card-id="8C"] { background-image: url(http://i.imgur.com/4xnKbu4.png); }
.card[data-card-id="8D"] { background-image: url(http://i.imgur.com/P6WhpLB.png); }
.card[data-card-id="8H"] { background-image: url(http://i.imgur.com/JaBfuR3.png); }
.card[data-card-id="8S"] { background-image: url(http://i.imgur.com/bhVPIC5.png); }
.card[data-card-id="9C"] { background-image: url(http://i.imgur.com/pgMnzPb.png); }
.card[data-card-id="9D"] { background-image: url(http://i.imgur.com/49xXxaA.png); }
.card[data-card-id="9H"] { background-image: url(http://i.imgur.com/6i8FDhK.png); }
.card[data-card-id="9S"] { background-image: url(http://i.imgur.com/kvAbf1r.png); }
.card[data-card-id="TC"] { background-image: url(http://i.imgur.com/c5qg5Og.png); }
.card[data-card-id="TD"] { background-image: url(http://i.imgur.com/0cbE19z.png); }
.card[data-card-id="TH"] { background-image: url(http://i.imgur.com/2LcgN7g.png); }
.card[data-card-id="TS"] { background-image: url(http://i.imgur.com/9Gf85wZ.png); }
.card[data-card-id="JC"] { background-image: url(http://i.imgur.com/9dRMWEL.png); }
.card[data-card-id="JD"] { background-image: url(http://i.imgur.com/BQn05NL.png); }
.card[data-card-id="JH"] { background-image: url(http://i.imgur.com/9u8I1ym.png); }
.card[data-card-id="JS"] { background-image: url(http://i.imgur.com/B4TuZ5P.png); }
.card[data-card-id="QC"] { background-image: url(http://i.imgur.com/G42E2nI.png); }
.card[data-card-id="QD"] { background-image: url(http://i.imgur.com/EMqyBdQ.png); }
.card[data-card-id="QH"] { background-image: url(http://i.imgur.com/1DuRLm7.png); }
.card[data-card-id="QS"] { background-image: url(http://i.imgur.com/rkQ2Nvc.png); }
.card[data-card-id="KC"] { background-image: url(http://i.imgur.com/26DS9N7.png); }
.card[data-card-id="KD"] { background-image: url(http://i.imgur.com/AcO1nq3.png); }
.card[data-card-id="KH"] { background-image: url(http://i.imgur.com/oDCqari.png); }
.card[data-card-id="KS"] { background-image: url(http://i.imgur.com/6YF5Pvn.png); }
.card[data-card-id="AC"] { background-image: url(http://i.imgur.com/51GMR7W.png); }
.card[data-card-id="AD"] { background-image: url(http://i.imgur.com/7HGS4fU.png); }
.card[data-card-id="AH"] { background-image: url(http://i.imgur.com/5f06mru.png); }
.card[data-card-id="AS"] { background-image: url(http://i.imgur.com/3qWlnDJ.png); }
.card[data-card-id="J1"] { background-image: url(http://i.imgur.com/H0ac6A9.png); }
.card[data-card-id="J2"] { background-image: url(http://i.imgur.com/1wTtMsX.png); }
.card[data-card-id="R"] { background-image: none; }

.card.face-down {
    background: #fff url(http://i.imgur.com/yxdMjPo.png) no-repeat 1em 1em;
    background-size: 14em 23em;
}

.pile {
    position: relative;
    width: 18em;
    height: 27em;
    margin: 4em 2em 1em 1em;
}
.pile .card {
    position: absolute;
}
.pile .card:nth-child(1) { top: -0px; left: 0px; }
.pile .card:nth-child(2) { top: -1px; left: 1px; }
.pile .card:nth-child(3) { top: -1px; left: 1px; transform: rotate(1deg); }
.pile .card:nth-child(4) { top: -2px; left: 2px; }
.pile .card:nth-child(5) { top: -2px; left: 2px; }
.pile .card:nth-child(6) { top: -3px; left: 3px; }
.pile .card:nth-child(7) { top: -3px; left: 4px; }
.pile .card:nth-child(8) { top: -4px; left: 4px; transform: rotate(-1deg); }
.pile .card:nth-child(9) { top: -4px; left: 4px; }
.pile .card:nth-child(10) { top: -5px; left: 5px; }
.pile .card:nth-child(11) { top: -5px; left: 5px; }
.pile .card:nth-child(12) { top: -6px; left: 6px; transform: rotate(-1deg); }
.pile .card:nth-child(13) { top: -6px; left: 6px; }
.pile .card:nth-child(14) { top: -7px; left: 7px; }
.pile .card:nth-child(15) { top: -7px; left: 7px; transform: rotate(1deg); }
.pile .card:nth-child(16) { top: -8px; left: 8px; }
.pile .card:nth-child(17) { top: -8px; left: 8px; }
.pile .card:nth-child(18) { top: -9px; left: 9px; }
.pile .card:nth-child(19) { top: -9px; left: 9px; }
.pile .card:nth-child(20) { top: -10px; left: 10px; transform: rotate(1deg); }
.pile .card:nth-child(21) { top: -10px; left: 10px; }
.pile .card:nth-child(22) { top: -11px; left: 11px; }
.pile .card:nth-child(23) { top: -11px; left: 11px; }
.pile .card:nth-child(24) { top: -12px; left: 12px; }
.pile .card:nth-child(25) { top: -12px; left: 12px; transform: rotate(-1deg); }
.pile .card:nth-child(26) { top: -13px; left: 13px; }
.pile .card:nth-child(27) { top: -12px; left: 13px; }
.pile .card:nth-child(28) { top: -14px; left: 14px; }
.pile .card:nth-child(29) { top: -14px; left: 14px; }
.pile .card:nth-child(30) { top: -15px; left: 15px; }
.pile .card:nth-child(31) { top: -15px; left: 15px; transform: rotate(1deg); }
.pile .card:nth-child(32) { top: -16px; left: 16px; }
.pile .card:nth-child(33) { top: -16px; left: 16px; }
.pile .card:nth-child(34) { top: -17px; left: 17px; }
.pile .card:nth-child(35) { top: -17px; left: 17px; transform: rotate(1deg); }
.pile .card:nth-child(36) { top: -18px; left: 18px; transform: rotate(-1deg); }
.pile .card:nth-child(37) { top: -18px; left: 18px; }
.pile .card:nth-child(38) { top: -19px; left: 19px; }
.pile .card:nth-child(39) { top: -19px; left: 19px; }
.pile .card:nth-child(40) { top: -20px; left: 21px; }
.pile .card:nth-child(41) { top: -20px; left: 20px; transform: rotate(1deg); }
.pile .card:nth-child(42) { top: -21px; left: 21px; }
.pile .card:nth-child(43) { top: -21px; left: 21px; }
.pile .card:nth-child(44) { top: -22px; left: 22px; }
.pile .card:nth-child(45) { top: -22px; left: 22px; }
.pile .card:nth-child(46) { top: -23px; left: 23px; }
.pile .card:nth-child(47) { top: -23px; left: 23px; transform: rotate(-1deg); }
.pile .card:nth-child(48) { top: -24px; left: 24px; }
.pile .card:nth-child(49) { top: -24px; left: 24px; }
.pile .card:nth-child(50) { top: -25px; left: 25px; }
.pile .card:nth-child(51) { top: -25px; left: 25px; }
.pile .card:nth-child(52) { top: -26px; left: 26px; }
.pile .card:nth-child(53) { top: -26px; left: 26px; }
.pile .card:nth-child(54) { top: -27px; left: 27px; transform: rotate(1deg); }
.pile .card:nth-child(55) { top: -27px; left: 27px; }
.pile .card:nth-child(56) { top: -28px; left: 28px; }
.pile .card:nth-child(57) { top: -27px; left: 28px; }
.pile .card:nth-child(58) { top: -29px; left: 29px; }
.pile .card:nth-child(59) { top: -29px; left: 29px; transform: rotate(-1deg); }
.pile .card:nth-child(60) { top: -30px; left: 30px; }
.pile .card:nth-child(61) { top: -30px; left: 30px; }
.pile .card:nth-child(62) { top: -31px; left: 31px; }
.pile .card:nth-child(63) { top: -31px; left: 31px; }
.pile .card:nth-child(64) { top: -32px; left: 32px; }
.pile .card:nth-child(65) { top: -32px; left: 32px; }
.pile .card:nth-child(66) { top: -33px; left: 33px; transform: rotate(1deg); }
.pile .card:nth-child(67) { top: -33px; left: 33px; transform: rotate(-1deg); }
.pile .card:nth-child(68) { top: -34px; left: 34px; }
.pile .card:nth-child(69) { top: -34px; left: 34px; }
.pile .card:nth-child(70) { top: -35px; left: 35px; transform: rotate(1deg); }
.pile .card:nth-child(71) { top: -35px; left: 35px; }
.pile .card:nth-child(72) { top: -36px; left: 36px; }
.pile .card:nth-child(73) { top: -36px; left: 36px; }
.pile .card:nth-child(74) { top: -37px; left: 38px; }
.pile .card:nth-child(75) { top: -37px; left: 37px; transform: rotate(-1deg); }
.pile .card:nth-child(76) { top: -38px; left: 38px; }
.pile .card:nth-child(77) { top: -38px; left: 38px; }
.pile .card:nth-child(78) { top: -39px; left: 39px; }
.pile .card:nth-child(79) { top: -39px; left: 39px; }
.pile .card:nth-child(80) { top: -40px; left: 40px; }
.pile .card:nth-child(81) { top: -40px; left: 40px; transform: rotate(1deg); }
.pile .card:nth-child(82) { top: -41px; left: 41px; }
.pile .card:nth-child(83) { top: -41px; left: 41px; }
.pile .card:nth-child(84) { top: -42px; left: 42px; }
.pile .card:nth-child(85) { top: -42px; left: 42px; }
.pile .card:nth-child(86) { top: -43px; left: 43px; transform: rotate(-1deg); }
.pile .card:nth-child(87) { top: -43px; left: 43px; }
.pile .card:nth-child(88) { top: -45px; left: 44px; }
.pile .card:nth-child(89) { top: -44px; left: 44px; transform: rotate(1deg); }
.pile .card:nth-child(90) { top: -45px; left: 45px; }
.pile .card:nth-child(91) { top: -45px; left: 45px; }
.pile .card:nth-child(92) { top: -46px; left: 46px; transform: rotate(-1deg); }
.pile .card:nth-child(93) { top: -46px; left: 46px; transform: rotate(1deg); }
.pile .card:nth-child(94) { top: -47px; left: 47px; }
.pile .card:nth-child(95) { top: -47px; left: 47px; transform: rotate(-1deg); }
.pile .card:nth-child(96) { top: -48px; left: 48px; }
.pile .card:nth-child(97) { top: -48px; left: 48px; }
.pile .card:nth-child(98) { top: -49px; left: 49px; }
.pile .card:nth-child(99) { top: -49px; left: 49px; transform: rotate(1deg); }
.pile .card:nth-child(100) { top: -50px; left: 50px; }

.players {
    clear: both;
}

.player {
    overflow: hidden;
    width: 50%;
    float: left;
}
.player::before {
    content: attr(data-player-name) ' (' attr(data-player-type) ')';
    font-size: 2em;
    width: 100%;
    display: block;
}
.player.current::before {
    color: #f00;
    font-weight: bold;
}
.player .down {
    float: left;
}

.hand {
    clear: both;
    min-width: 16em;
    height: 25em;
    margin: 2em 2em 1em 1em;
    padding-right: 12em; /* to counteract the margin-right: -12em */
}
.hand .card {
    float: left;
    margin-right: -12em;
    margin-bottom: 2em;
}
.hand .card:hover,
.player .hand .card.chosen {
    margin-right: 1em;
}
.hand .card.face-down:hover {
    margin-right: -12em;
}
.player .hand .card:hover + .card.chosen,
.player .hand .card.chosen + .card:hover,
.player .hand .card.chosen + .card.chosen {
    margin-left: -12em;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,.4);
    top: 0px;
    left: 0px;
    text-align: center;
}

.overlay .hand {
    margin: 10em auto;
    display: inline-block;
}

.overlay .hand::before {
    display: none;
}

.overlay .hand .card:last-child:hover {
    margin-right: -12em;
}

@media screen and (max-width: 1280px) {
    body {
        font-size: 7px;
    }
    .table {
        margin: 2em;
    }
}

@media screen and (max-width: 1023px) {
    body {
        font-size: 6px;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 5px;
    }
    .table {
        margin: 3em;
    }
}

@media screen and (max-width: 567px) {
    body {
        font-size: 4px;
    }
    .table {
        margin-top: 35em;
    }
    .player .pile {
        width: calc(100vw / 10);
    }
}


/* fireworks! From: https://codepen.io/yshlin/pen/ylDEk */
.pyro {
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}
.pyro::before {
    display: block;
    color: #fff;
    font-size: 3em;
    text-shadow: 0px 0px 4px #fff;
    content: 'Game over!';
    top: 12em;
    position: absolute;
    width: 100%;
}
.pyro::after {
    color: #fff;
    font-size: 2em;
    text-shadow: 0px 0px 4px #fff;
    content: attr(data-player-name) ' wins!';
    position: absolute;
    top: 20em;
    left: 0%;
    width: 100%;
}
.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 152px 7.33333px #0dff00, 213px -311.66667px #9900ff, 222px -190.66667px #00ff84, -165px -226.66667px #ff0015, -63px -66.66667px #a6ff00, -107px -93.66667px #00fbff, 175px -199.66667px #62ff00, 104px -204.66667px #3700ff, -220px -246.66667px #00fbff, -125px -222.66667px #ff5500, -14px 72.33333px #0033ff, 105px -400.66667px #0040ff, 200px 61.33333px #ff0400, -77px 50.33333px #00f7ff, -160px -166.66667px #00eeff, 103px -298.66667px #0084ff, -146px -343.66667px #00ff9d, -108px 43.33333px #00b7ff, 228px -269.66667px #0048ff, -191px 58.33333px #ff00a6, 134px -375.66667px #ffdd00, 221px -241.66667px #ff0011, -223px -141.66667px #ffea00, 102px -26.66667px #ff4400, 147px -356.66667px #ff00d5, -59px -237.66667px #2fff00, 231px -292.66667px #00ff44, 221px -384.66667px #00ff5e, -11px -210.66667px #ff7300, 147px -230.66667px #0009ff, 90px -56.66667px #e600ff, 108px -354.66667px #00ff04, 165px 13.33333px #5e00ff, 179px -106.66667px #33ff00, 100px 16.33333px #00ff2b, 242px -100.66667px #ff008c, -248px -104.66667px #eeff00, 229px -157.66667px #d5ff00, -24px -359.66667px #ff0059, 245px -106.66667px #80ff00, -138px -98.66667px #ff00a2, -137px -271.66667px #2200ff, 147px 40.33333px #0011ff, 131px -413.66667px #ff001a, 195px -360.66667px #62ff00, -243px -368.66667px #0015ff, -188px -275.66667px #ff00cc, 117px -306.66667px #ff0400, -215px -69.66667px #00ffaa, -249px -366.66667px #ff0073, 159px -203.66667px #eaff00;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 152px 7.33333px #0dff00, 213px -311.66667px #9900ff, 222px -190.66667px #00ff84, -165px -226.66667px #ff0015, -63px -66.66667px #a6ff00, -107px -93.66667px #00fbff, 175px -199.66667px #62ff00, 104px -204.66667px #3700ff, -220px -246.66667px #00fbff, -125px -222.66667px #ff5500, -14px 72.33333px #0033ff, 105px -400.66667px #0040ff, 200px 61.33333px #ff0400, -77px 50.33333px #00f7ff, -160px -166.66667px #00eeff, 103px -298.66667px #0084ff, -146px -343.66667px #00ff9d, -108px 43.33333px #00b7ff, 228px -269.66667px #0048ff, -191px 58.33333px #ff00a6, 134px -375.66667px #ffdd00, 221px -241.66667px #ff0011, -223px -141.66667px #ffea00, 102px -26.66667px #ff4400, 147px -356.66667px #ff00d5, -59px -237.66667px #2fff00, 231px -292.66667px #00ff44, 221px -384.66667px #00ff5e, -11px -210.66667px #ff7300, 147px -230.66667px #0009ff, 90px -56.66667px #e600ff, 108px -354.66667px #00ff04, 165px 13.33333px #5e00ff, 179px -106.66667px #33ff00, 100px 16.33333px #00ff2b, 242px -100.66667px #ff008c, -248px -104.66667px #eeff00, 229px -157.66667px #d5ff00, -24px -359.66667px #ff0059, 245px -106.66667px #80ff00, -138px -98.66667px #ff00a2, -137px -271.66667px #2200ff, 147px 40.33333px #0011ff, 131px -413.66667px #ff001a, 195px -360.66667px #62ff00, -243px -368.66667px #0015ff, -188px -275.66667px #ff00cc, 117px -306.66667px #ff0400, -215px -69.66667px #00ffaa, -249px -366.66667px #ff0073, 159px -203.66667px #eaff00;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 152px 7.33333px #0dff00, 213px -311.66667px #9900ff, 222px -190.66667px #00ff84, -165px -226.66667px #ff0015, -63px -66.66667px #a6ff00, -107px -93.66667px #00fbff, 175px -199.66667px #62ff00, 104px -204.66667px #3700ff, -220px -246.66667px #00fbff, -125px -222.66667px #ff5500, -14px 72.33333px #0033ff, 105px -400.66667px #0040ff, 200px 61.33333px #ff0400, -77px 50.33333px #00f7ff, -160px -166.66667px #00eeff, 103px -298.66667px #0084ff, -146px -343.66667px #00ff9d, -108px 43.33333px #00b7ff, 228px -269.66667px #0048ff, -191px 58.33333px #ff00a6, 134px -375.66667px #ffdd00, 221px -241.66667px #ff0011, -223px -141.66667px #ffea00, 102px -26.66667px #ff4400, 147px -356.66667px #ff00d5, -59px -237.66667px #2fff00, 231px -292.66667px #00ff44, 221px -384.66667px #00ff5e, -11px -210.66667px #ff7300, 147px -230.66667px #0009ff, 90px -56.66667px #e600ff, 108px -354.66667px #00ff04, 165px 13.33333px #5e00ff, 179px -106.66667px #33ff00, 100px 16.33333px #00ff2b, 242px -100.66667px #ff008c, -248px -104.66667px #eeff00, 229px -157.66667px #d5ff00, -24px -359.66667px #ff0059, 245px -106.66667px #80ff00, -138px -98.66667px #ff00a2, -137px -271.66667px #2200ff, 147px 40.33333px #0011ff, 131px -413.66667px #ff001a, 195px -360.66667px #62ff00, -243px -368.66667px #0015ff, -188px -275.66667px #ff00cc, 117px -306.66667px #ff0400, -215px -69.66667px #00ffaa, -249px -366.66667px #ff0073, 159px -203.66667px #eaff00;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 152px 7.33333px #0dff00, 213px -311.66667px #9900ff, 222px -190.66667px #00ff84, -165px -226.66667px #ff0015, -63px -66.66667px #a6ff00, -107px -93.66667px #00fbff, 175px -199.66667px #62ff00, 104px -204.66667px #3700ff, -220px -246.66667px #00fbff, -125px -222.66667px #ff5500, -14px 72.33333px #0033ff, 105px -400.66667px #0040ff, 200px 61.33333px #ff0400, -77px 50.33333px #00f7ff, -160px -166.66667px #00eeff, 103px -298.66667px #0084ff, -146px -343.66667px #00ff9d, -108px 43.33333px #00b7ff, 228px -269.66667px #0048ff, -191px 58.33333px #ff00a6, 134px -375.66667px #ffdd00, 221px -241.66667px #ff0011, -223px -141.66667px #ffea00, 102px -26.66667px #ff4400, 147px -356.66667px #ff00d5, -59px -237.66667px #2fff00, 231px -292.66667px #00ff44, 221px -384.66667px #00ff5e, -11px -210.66667px #ff7300, 147px -230.66667px #0009ff, 90px -56.66667px #e600ff, 108px -354.66667px #00ff04, 165px 13.33333px #5e00ff, 179px -106.66667px #33ff00, 100px 16.33333px #00ff2b, 242px -100.66667px #ff008c, -248px -104.66667px #eeff00, 229px -157.66667px #d5ff00, -24px -359.66667px #ff0059, 245px -106.66667px #80ff00, -138px -98.66667px #ff00a2, -137px -271.66667px #2200ff, 147px 40.33333px #0011ff, 131px -413.66667px #ff001a, 195px -360.66667px #62ff00, -243px -368.66667px #0015ff, -188px -275.66667px #ff00cc, 117px -306.66667px #ff0400, -215px -69.66667px #00ffaa, -249px -366.66667px #ff0073, 159px -203.66667px #eaff00;
  }
}
@keyframes bang {
  to {
    box-shadow: 152px 7.33333px #0dff00, 213px -311.66667px #9900ff, 222px -190.66667px #00ff84, -165px -226.66667px #ff0015, -63px -66.66667px #a6ff00, -107px -93.66667px #00fbff, 175px -199.66667px #62ff00, 104px -204.66667px #3700ff, -220px -246.66667px #00fbff, -125px -222.66667px #ff5500, -14px 72.33333px #0033ff, 105px -400.66667px #0040ff, 200px 61.33333px #ff0400, -77px 50.33333px #00f7ff, -160px -166.66667px #00eeff, 103px -298.66667px #0084ff, -146px -343.66667px #00ff9d, -108px 43.33333px #00b7ff, 228px -269.66667px #0048ff, -191px 58.33333px #ff00a6, 134px -375.66667px #ffdd00, 221px -241.66667px #ff0011, -223px -141.66667px #ffea00, 102px -26.66667px #ff4400, 147px -356.66667px #ff00d5, -59px -237.66667px #2fff00, 231px -292.66667px #00ff44, 221px -384.66667px #00ff5e, -11px -210.66667px #ff7300, 147px -230.66667px #0009ff, 90px -56.66667px #e600ff, 108px -354.66667px #00ff04, 165px 13.33333px #5e00ff, 179px -106.66667px #33ff00, 100px 16.33333px #00ff2b, 242px -100.66667px #ff008c, -248px -104.66667px #eeff00, 229px -157.66667px #d5ff00, -24px -359.66667px #ff0059, 245px -106.66667px #80ff00, -138px -98.66667px #ff00a2, -137px -271.66667px #2200ff, 147px 40.33333px #0011ff, 131px -413.66667px #ff001a, 195px -360.66667px #62ff00, -243px -368.66667px #0015ff, -188px -275.66667px #ff00cc, 117px -306.66667px #ff0400, -215px -69.66667px #00ffaa, -249px -366.66667px #ff0073, 159px -203.66667px #eaff00;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
